body {
    background-color: green;
  }
  
  #infoinicial {
    text-align: center;
  }
  
  #header {
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  
  #header img {
    width: 100px;
  }
  
  h1{
    text-align: center;
  }
  p {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  
  
  